.fuentes {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media(max-width: 480px) {
    /*smartphone*/
    /*estilos*/
}

@media(max-width: 600px) {
    /*tablet*/
    /*estilos*/
}

@media(max-width: 1024px) {
    /*monitor*/
    /*estilos*/
}

$pie:(tablet:600px);
@each $type,
$media in $pie {
    .tamaño--#{$type} {
        text-align: center;
    }
}